a.a-menu-index {
  text-decoration: none;
  cursor: pointer;
  display: block;
}

a:hover.a-menu-index {
  list-style: none;
  text-decoration: none;
}

div.img-text-title {
  font-size: 1.4em;
  color: #fff;
}

.options-menu {
  margin-right: 0em;
}

.page-wrapper.auth-page.select-login {
  background-repeat: no-repeat;
  background-size: cover;
}

.img-logo-select {
  width: 50%;
  height: 25%;
}

.login-parents {
  background-repeat: no-repeat;
  background-size: 100%;
}

.login-students {
  background-repeat: repeat;
  background-size: 100%;
}

.text-white {
  color: #fff;
  text-shadow: 0 2px 1px #7a7878;
}

