
.login-parents {
	background-repeat: no-repeat;
  background-size: 100%; //propotional resize
}

.login-students {
	background-repeat: repeat;
  background-size: 100%; //propotional resize
}

.text-white {
	color:#fff;
	text-shadow: 0 2px 1px #7a7878;
}