
a.a-menu-index {
	text-decoration:none;
	cursor: pointer;
	display:block;
}

a:hover.a-menu-index {
	list-style: none;
	text-decoration:none;
}

div.img-text-title {
	font-size:1.4em;
	color:#fff;
	text-shadow: 0 2px 1px #7a7878;
}

.options-menu {
	margin-right:0em;
}

.page-wrapper.auth-page.select-login {
  background-repeat: no-repeat;
  background-size: cover; //propotional resize
}

.img-logo-select {
	width:50%;
	height:25%;
}

